# Created by .ignore support plugin (hsz.mobi)
/node_modules/
/.idea
/packages/**/android/build/
/packages/**/android/gen/
/packages/**/local.properties
/packages/quickstart/ios/Pods
/packages/quickstart/ios/*.lock
/.tmp/
*.iml
